.tableWrap {
  color: var(--light-secondary-color);
  width: 100%;
}
.tableHead {
  background-color: var(--dark-primary-color);
  color: var(--light-color);
  height: 40px;
}
table,
th,
td {
  border: 1px solid var(--dark-color);
  border-collapse: collapse;
  text-align: center;
  padding: 6px;
}
@media (min-width: 768px) {
  .table,
  th,
  td {
    border-color: var(--dark-tertiary-color);
  }
}
.tableRow:nth-child(even) {
  background-color: var(--dark-tertiary-color);
}
