.headerTitleWrap {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.headerTitleGradient {
  display: block;
  font-size: 1.1em;
  font-weight: 900;
  background-image: linear-gradient(
    120deg,
    var(--accent-primary-color) 5%,
    var(--accent-tertiary-color) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.headerText {
  font-size: 0.6em;
  font-weight: 500;
  letter-spacing: 0.03em;
}
